:root {
  /* ___Fonts___*/
  --primary-font: "Mooli", sans-serif;
  font-family: var(--primary-font);

  /* ___Colors___*/
  --primary-color: #fff5f5;
  --secondary-color: #ffec99;
  --third-color: #f08c00;
  background-color: var(--primary-color);

  /*___Fonts_Colors___*/
  --color1: #1e1e1e;
  --color2: #e03131;
}

body {
  margin: 0;
}
